<header>
    <nav class="primary-navbar">
        <a href="/">
            <img id='logo' src="assets/dcrdlogo.png" alt="logo">
        </a>
        <ul class="nav-selection">
            <li><a class="link" href="/forum">Forum</a></li>
        </ul>
    </nav>
</header>