<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>AICT - Forum</title>
</head>
<body>
    <%- include('./partials/header')  %> 
    <main>
        <section class="forum-header">
            <div class="forum-header-wrap">
                <h2 class="forum-header-header">AICT FORUM</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere illo delectus, modi quia ducimus vitae deleniti voluptate enim numquam quos exercitationem quidem dolor ratione magni mollitia expedita consectetur maiores ex rem hic voluptas. Dolorum, blanditiis voluptatum earum explicabo officiis esse adipisci. Laborum necessitatibus id tempora nostrum! Laudantium consequatur ducimus minima dolorum asperiores sint non doloremque ipsam amet illo sunt magnam harum, nulla quibusdam inventore sed accusantium voluptatem porro blanditiis quia temporibus molestias, illum architecto. Nemo id cupiditate consectetur alias autem labore possimus adipisci. Ex repellat enim cupiditate incidunt quisquam ab voluptatem totam, quos dolores similique rem, sed voluptates illum? Voluptatibus vel cupiditate harum cumque in fugit laudantium sed repudiandae exercitationem labore unde earum reiciendis nisi rerum ex reprehenderit obcaecati, autem animi architecto facere. Aspernatur quibusdam praesentium esse ullam numquam quis velit ea rerum dicta aut doloribus reiciendis fugit beatae, culpa id itaque adipisci voluptatum a accusamus sapiente modi sed deserunt pariatur. Sint amet sit ipsum quasi adipisci a aut beatae id modi deserunt rem corrupti voluptatibus, ipsam laudantium, totam repellat cum quas tempora eum eos corporis. Praesentium, quos. Non id voluptas dolor omnis, dignissimos at ex soluta totam. Sed excepturi at dolorum libero suscipit deleniti autem repudiandae qui sunt nesciunt?</p>
                <span class="forum-header-underline"></span>
            </div>
        </section>
        <section class="forum-input">
            <div class="forum-input-wrap">
                <div class="forum-input-header">
                    <h2 class="forum-input-header-header">Create a post</h2>
                </div>
                <div class="forum-input-form-wrap">
                    <form action="/posts" method="POST">
                        <div class="forum-form-pair">
                            <div class="forum-form-label">
                                <label for="posted_by">Author of Post:</label>
                            </div>
                            <div class="forum-form-input">
                                <input type="text" name="posted_by">
                            </div>
                        </div>
                        <div class="forum-form-pair">
                            <div class="forum-form-label">
                                <label for="post">Post:</label>
                            </div>
                            <div class="forum-form-input">
                                <textarea name="post" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="forum-form-submit">
                            <button class="forum-form-submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
                <span class="forum-input-underline"></span>
            </div>
        </section>
        <section class="forum-posts">
            <h2 class="forum-posts-header">Current posts here:</h2>
            <div class="forum-posts-wrap">
                <% if (posts && posts.length > 1) {%>
                    <% posts.forEach(post => { %>
                        <div class="post">
                            <div class="post-author">
                                <%= post.posted_by %>
                            </div>
                            <div class="post-date">
                                <%= post.date_of_post %>
                            </div>
                            <div class="post-content">
                                <%= post.post %>
                            </div>
                        </div>
                    <% }) %> 
                <% } else {%>
                    <h2>Post amount = none</h2>
                <% } %>  
            </div>
        </section>
    </main>
</body>
</html>