<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles.css">
    <title>AICT - Homepage</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="starter">
            <h2 class="home-page-heading">Home Page</h2>
        </section>
    </main>
</body>
</html>