main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    gap: 1rem;
}
.posts {
    width: 80%;
}
.create-post-header {
    margin-top: 1rem;
}

.make-a-post-section {
    width: 100%;
}