.profile-page {
    background-color: whitesmoke;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.profile-page-x-btn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 1.5rem;
    color: black;
}
.profile-page-x-btn:hover {
    color: var(--post-red);
}
.profile-page-cover-photo-wrap {
    max-height: 500px;
    width: 100%;
    background-color: brown;
    overflow: hidden;
}
.profile-page-cover-photo {
    width: 100%;
    height: 100%;
}
.profile-page-user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profile-page-user-basic-info {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.profile-page-profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.profile-page-name {
    font-size: 2rem;
}
.profile-page-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-page-tabs > * {
    text-align: center;
    background-color: lightgray;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
    gap: 2rem;
}
.selected-profile-tab {
    box-shadow: inset 2px 1px 5px 3px rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    transition: box-shadow 200ms ease-in-out;
}
.profile-page-comments-display {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}