.create-post-btn {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: var(--post-red);
    color: white;
    padding: 20px;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    font-size: 2rem;
    transition: 200ms;
    cursor: pointer;
}
/* .create-post-btn:hover {
    color: rgb(162, 162, 162);
} */
.create-post-btn-icon:hover {
    color: inherit;
}
.create-post-btn-pop-up-memo {
    font-size: .8rem;
    color: inherit;
}