main {
    /* background-color: rgb(246, 234, 204); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* margin: auto 10%; */
}
.posts {
    width: 80%;
}
.create-post-header {
    margin-top: 1rem;
}