.comment {
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.profile-picture-and-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--post-red);
    color: white;
}
.profile-picture-wrap {
    background-color: brown;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
    border-right: solid white 3px;
}
.profile-icon {
    margin-left: 10px;
}
.profile-name {
    margin-right: 10px;
}
.comment-date {
    margin-right: 10px;
}
.comment-options-icon {
    margin-right: 10px;
    font-size: 1.25rem;
}
.comment-options-icon:hover {
    color: #444;
}
.comment-content-wrap {
    margin-right: 10px;
}
.comment-content-wrap p {
    overflow-wrap: anywhere;
    margin: 10px;
}
/* REPLY BUTTON */

.reply-btn-wrap {
    width: 100%;
}

.reply-btn {
    float: right;
    margin: 5px;
    background-color: transparent;
    border: none;
    color: var(--post-red);
    border-bottom: solid transparent 1px;
}

.reply-btn:hover {
    border-bottom-color: var(--post-red);
}

/* REPLY CONTAINER */

.replies {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: tan; */
    align-items: end;
    /* justify-content: right;
    width: 100%; */
}