:root {
    --primary-color: rgb(126, 96, 13);
}
* {
    box-sizing: border-box;
}
header {
    background-color: var(--primary-color);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: solid 1px black;
}
header img {
    height: 75px;
    border-radius: 10px;
    margin: 10px;
}
.user-profile-btn {
    font-size: 1.25rem;
    color: white;
    padding: 10px;
    border: solid white 1px;
    border-radius: 100px;
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}
.navbar-selection {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navbar-selection button {
    height: fit-content;
    background-color: transparent;
    border: solid white 1px;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 10px;
    transition: border-radius 50ms ease-in-out;
}
.navbar-selection button:hover {
    background-color: var(--post-red);
    border-radius: 20px;
    /* border-color: var(--post-red);
    color: var(--post-red); */
}
