.reply {
    /* background-color: var(--primary-color); */
    color: var(--post-red);
    width: 100%;
    margin: 10px 0px;
    float: right;
    border: solid var(--post-red) 1px;
    position: relative;
    right: 0px;
}
.replies-from-reply {
    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}
.reply-comment-id-info {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reply-comment-id-info > * {
    padding: 5px;
}